* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-left: 0;
}

main {
    padding-top: 70px;
    margin-left: 0;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 1.5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 5%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.auth-links button {
    color: white;
    margin-left: 15px;
    padding: 8px 15px;
    background-color: #ff6600;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-links button:hover {
    background-color: #e55c00;
}

.user-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

nav ul li a.active {
    color: #ff6600;
    font-weight: bold;
}
