@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    font-family: 'Fredoka One', sans-serif;
}

.hero h2 {
    font-size: 350%;
    margin-bottom: 3%;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 0, 204, 0.6),
    0 0 20px rgba(51, 51, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.8);
    animation: glow 2s infinite alternate;
}

.hero p {
    font-size: 100%;
    margin-bottom: 5%;
    background: linear-gradient(90deg, #93a7e0, #daa900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(149, 199, 179, 0.6),
    0 0 10px rgba(255, 204, 0, 0.6);
}

.cta {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 4px 15px rgba(255, 102, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Fredoka One', sans-serif;
}

.cta:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 102, 0, 0.7);
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 0, 204, 0.6),
        0 0 20px rgba(51, 51, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.8);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 0, 204, 0.9),
        0 0 30px rgba(51, 51, 255, 0.9),
        0 0 40px rgba(255, 255, 255, 1);
    }
}
